@model IEnumerable<MyReloadedOfficeApp.Models.OfficeBuildingsModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdBuilding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetHouseNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalContract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdBuilding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetHouseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentalContract)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdBuilding }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdBuilding }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdBuilding })
        </td>
    </tr>
}

</table>
