@model MyReloadedOfficeApp.Models.RawUserTypesModel

@{
    ViewBag.Title = "DetailsRawRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsRawRoles</h2>

<div>
    <h4>RawUserTypesModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdUserTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUserTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IdUserTypes }) |
    @Html.ActionLink("Back to List", "Index")
</p>
