@model IEnumerable<MyReloadedOfficeApp.Models.RawUserTypesModel>

@{
    ViewBag.Title = "IndexError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}
<h2>IndexError</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdUserTypes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUserTypes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdUserTypes }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdUserTypes }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdUserTypes })
            </td>
        </tr>
    }

</table>
